body{
    width: 100%;
    background-color: rgb(200, 0, 0);
}
.parrafo{
    margin-left: 2%;
    margin-right: 2%;
    text-align: justify;
    background-color: aliceblue;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}
.boton{
    height: 50px;
    margin-bottom: 1%;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.barra{
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    background-color: rgb(255, 255, 255); 
    text-align: center; 
    align-items: center;
}
.link{
    color: red;
    font-size: 30px;
}
.tabla{
    background-color: rgb(255, 255, 255);

}
.imagen{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.titulo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    color: rgb(255, 0, 0);
}
.formulario{
    background-color: rgb(255, 100, 100);
    width: 99%;
    padding: 1%;
}
.container{
    background-color: aliceblue;
}
.video{
    width: 100%;
}