body{
    background: linear-gradient(0.75turn,rgb(255, 48, 224), rgb(0, 217, 255));
}
.parrafo{
    margin-left: 2%;
    margin-right: 2%;
    text-align: justify;
    background-color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
.boton{
    height: 50px;
    margin-bottom: 1%;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.barra{
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    background-color: rgb(255, 255, 255); 
    text-align: center; 
    align-items: center;
}
.link{
    color: red;
    font-size: 30px;
}
.tabla{
    background-color: rgb(255, 255, 255);

}
.imagen{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.titulo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    color: aliceblue;
}
.formulario{
    background-color: aliceblue;
    width: 99%;
    padding: 1%;
}
.container{
    background-color: black;
}
.video{
    width: 100%;
}